*/target/**
*.class
*.properties
*.lst
*.properties
.settings/org.eclipse.wst.common.project.facet.core.xml
*.classpath
target/BuffDaddyAPI/WEB-INF/web.xml
target/m2e-wtp/web-resources/META-INF/maven/com.github.jc214809/BuffDaddyAPI/pom.properties
target/maven-archiver/pom.properties
target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
target/BuffDaddyAPI/WEB-INF/classes/com/github/jc214809/controller/WorkoutsController.class
target/maven-archiver/pom.properties
target/BuffDaddyAPI/WEB-INF/classes/com/github/jc214809/service/WorkoutsService.class
/target/
